aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: left;
}

aside > p {
    margin: .5rem;
}

nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
}